/* Sets font for main headers and text at top */
body{
    max-width: 1200px;
    display: inline;
    align-items: center;
}

h1, h2, header > p {
    font-family: 'Libre Franklin', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 2px;
}

/* Styles for main headers and text at top */

h1 {
    letter-spacing: 3px;
    padding-left: 5px;
    border: 2px solid black;
    margin: 0;
    font-size: 1.2em;
    width: fit-content;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    transform: scale(1.2,1.7)
}

header > p {
    text-align: center;
    font-size: 0.88em;
    font-weight: bold;
}

/* creates 3 column for main */

main {
  column-count: 3;
}