@charset "utf-8";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body > header {
    width: 100%;
    overflow: visible;
    position: relative;
    display: grid;
    align-items: end;
    grid-area: header;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    padding: 2rem;
    background: linear-gradient(to bottom, #0b0b0b 0%, #1a1a1a 100%);
    margin: auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.55);
}

header::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.45)100%);
    mask-image: linear-gradient(to bottom, #1a1a1a 88%, transparent),
        linear-gradient(to right, #1a1a1a 97.5%, transparent),
        linear-gradient(to left, #1a1a1a 97.5%, transparent);
    mask-composite: intersect;
    pointer-events: none;
    z-index: 4;
}

header img:first-of-type {
    filter: brightness(0.75) contrast(1.2);
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    z-index: 2;
}

header img:nth-of-type(2) {
    filter: brightness(1.15) contrast(1.2);
    grid-column: 1;
    grid-row: 3;
    z-index: 3;
}

header h1,
header h2 {
    margin: 0;
    z-index: 5;
    text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.8);
}

header h1 {
    font-size: 4em;
    grid-column: 2;
    grid-row: 3;
    padding-left: 3em;
}

header h2 {
    font-size: 3em;
    grid-column: 1;
    grid-row: 2;
    margin-left: 0.2em;
}

body {
    color: #e5e5e5;
    margin: 0 auto;
    display: grid;
    width: 95%;
    grid-template-areas:
        "header header header"
        "article article aside"
        "footer footer footer"
    ;
    grid-template-rows: auto auto 250px;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 1rem;
    letter-spacing: 1.4px;
    line-height: 1.5;
    background: #0e0e0e url("/assignment-1/images/black-orchid.png");
    /* Black Orchid by Hybridixstudio. https://www.transparenttextures.com/ */
}

main {
    grid-area: article;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
    font-size: 1.1em;
}

aside,
article,
footer {
    background: #141414;
    border: 1px solid #222;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 1.5rem;
}

blockquote {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 3px solid #b33939;
    font-style: italic;
}

cite {
    display: block;
}

h1,
h2,
h3,
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b33939;
    letter-spacing: 1px;
}

h3,
h4 {
    text-decoration: underline lightgray;
    font-size: 1.4rem;
}

aside {
    grid-area: aside;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto;
    margin-top: 1rem;
    line-height: 1.5;
    letter-spacing: 1.4px;
}

footer {
    grid-area: footer;
}

article p {
    margin: 0.35rem 0;
}

section {
    margin-bottom: 2rem;
}