@charset "utf-8";

html {
	box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body > header {
    width: 100%;
    display: grid;
    grid-area: header;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto;
    align-items: end;
    gap: 1rem;
    padding: 2rem;
    background: linear-gradient(to bottom, #111 0%, #1a1a1a 100%);
}

header img:first-of-type {
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

header img:first-of-type + img {
    grid-column: 1;
    grid-row: 2;
}

header h1 {
    grid-column: 2;
    grid-row: 2;
    font-size: 3em;
    margin: 0;
}

header h2 {
    font-size: 2em;
    grid-column: 1;
    grid-row: 1;
    
}

body {
    background: #0e0e0e;
    color: #e5e5e5;
    margin: 0 auto;
    display: grid;
    width: 95%;
    grid-template-areas: 
        "header header header"
        "article article aside" 
        "footer footer footer"
    ;
    grid-template-rows: 520px auto 250px;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    background-image: url("/assignment-1/images/black-orchid.png"); /* Black Orchid by Hybridixstudio. https://www.transparenttextures.com/ */
}

main {
    grid-area: article;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside, article, footer {
    background: #141414;
    border: 1px solid #222;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
    padding: 1.5rem;
}

h2, h3, h4 {
    color: #b33939;
    letter-spacing: 1px;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

article p {
    margin: 0.35rem 0;
    line-height: 1.5;
}

section {
    margin-bottom: 2rem;
}