@charset "utf-8";

html {
	box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header {
    display: flow-root;
    width: 100%;
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0 auto;
    display: grid;
    width: 95%;
    grid-template-areas: 
        "header header header"
        "aside article footer" 
        "aside article footer"
    ;
    grid-template-rows: 125px auto 200px;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
}

main {
    grid-area: article;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    grid-area: aside;
}