@charset "utf-8";

html {
    /* So everything is border-box */
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body>header {
    /* body header text and display properties */
    width: 100%;
    position: relative;
    display: grid;
    align-items: end;
    grid-area: header;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    padding: 2rem 3rem;
    background: linear-gradient(to bottom, rgb(195 63 90) 0%, #1a1a1a 100%);
    box-shadow: 0 20px 40px rgba(195, 63, 90, 0.5);
}

body>header::after {
    /* Radial gradiant over header from here https://www.google.com/search?q=radial+gradient+inline+css&oq=radial+grad&gs_lcrp=EgZjaHJvbWUqCAgAEEUYJxg7MggIABBFGCcYOzIGCAEQRRg5MgYIAhAjGCcyBwgDEAAYgAQyBwgEEAAYgAQyBwgFEAAYgAQyBwgGEAAYgAQyBwgHEAAYgAQyBwgIEAAYgAQyBwgJEAAYgATSAQg1Mzk2ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8 */
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.45)100%);
    mask-image: linear-gradient(to bottom, #1a1a1a 88%, transparent),
        linear-gradient(to right, #1a1a1a 97%, transparent),
        linear-gradient(to left, #1a1a1a 97%, transparent);
    mask-composite: intersect;
    pointer-events: none;
    z-index: 4;
}

header img:first-of-type {
    /* Header images */
    filter: brightness(0.75) contrast(1.2) saturate(1.1) hue-rotate(-8deg);
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    z-index: 2;
}

header img:nth-of-type(2) {
    filter: brightness(1.15) contrast(1.2);
    grid-column: 1;
    grid-row: 3;
    z-index: 3;
}

header h1,
header h2 {
    /* Header text */
    margin: 0;
    z-index: 5;
    text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e5e5e5;
}

header h1 {
    font-size: 3em;
    grid-column: 2;
    grid-row: 3;
    margin-left: 4.5em;
    padding-bottom: 0.5em;
    font-family: 'Rock Salt', sans-serif;
}

header h2 {
    font-size: 3em;
    grid-column: 1;
    grid-row: 2;
    margin: auto 0 -0.3em 0.4em;
}

body {
    /* breaks up everything into a grid, includes background, and other properties for elements that are a child of body that can be inherited. */
    color: #e5e5e5;
    margin: 0 auto;
    display: grid;
    width: 95%;
    grid-template-areas:
        "header header header"
        "article article aside"
        "footer footer footer"
    ;
    grid-template-rows: auto auto auto;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 1rem;
    letter-spacing: 1.2px;
    line-height: 1.65;
    background: #0e0e0e url("/assignment-1/images/black-orchid.png");
    background-size: 350px;
    background-blend-mode: multiply;
    /* Background is "Black Orchid" by Hybridixstudio. https://www.transparenttextures.com/ */
}

body::before {
    /* makes a slight overlay effect across all elements in body. */
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(20, 10, 10, 0.18);
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 0;
}

main {
    /* main area */
    grid-area: article;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
    font-size: 1.2rem;
    max-width: 70ch;
    margin: auto;
    padding-bottom: 1rem;
}

aside,
article,
footer {
    /* slight box effect for text area's under header. */
    background: #141414;
    border: 1px solid #222;
    box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.35),
        0 5px 14px rgba(0, 0, 0, 0.45);
    padding: 1.5rem;
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

blockquote {
    /* makes the outro of the song pop a lot more */
    margin-left: 1rem;
    padding-left: 1.25rem;
    border-left: 4px solid #b33939;
    font-style: italic;
    opacity: 0.9;
}

h3,
h4 {
    /* For headers */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 1px 0 #000,
        0 -1 0 rgba(255, 255, 255, 0.1);
}

h3 {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #f0f0f0;
    margin-bottom: 0.75rem;
    margin-top: 2rem;
    border-bottom: 2px solid rgba(180, 60, 60, 0.4);
}

h4 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #c9c9c9;
    margin-bottom: 0.5rem;
    margin-top: 1.8rem;
    text-transform: uppercase;
    text-decoration: underline rgba(255, 255, 255, 0.3);
}

aside {
    /* Aside sections */
    grid-area: aside;
    line-height: 1.5;
    font-size: 1.1rem;
    margin: auto;
}

aside>article {
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

footer {
    /* */
    grid-area: footer;
}

footer section:nth-of-type(2) {
    border-top: 4px solid rgba(255, 255, 255, 0.25);
}

article p {
    margin: 0.35rem 0;
}

section {
    margin-bottom: 1rem;
}

footer blockquote {
    border: none;
    color: rgba(189, 62, 87, 0.5);
    opacity: 1;
    filter:brightness(1.2);
    text-shadow: 2px 3px 6px rgba(128, 0, 22, 0.7);
    padding-bottom: 0.3rem;
}

a {
    color: white;
}

a:hover {
    color: rgba(248, 101, 130, 0.6);
}