@charset "utf-8";

/* I have used the Red Rising book series by Pierce Brown - https://www.goodreads.com/book/show/15839976-red-rising 
as my inspiration for this theme. */

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

/* Colour palette is inspired by the caste system of The Society within Red Rising
more info here - https://red-rising.fandom.com/wiki/Color */
:root {
  --red: #8D0000;
  --gold: #D4AF37;
  --black: #0A0A0A;
  --iron: #2F2F2F;
  --white: #F5F5F5;
}

/* Remove all animations and transitions for people that prefer not to see them - reused code from https://stylestage.dev/ */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}