@charset "utf-8";
/* Font from - https://fonts.google.com/specimen/Lato?preview.script=Latn */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* I have used the Red Rising book series by Pierce Brown - https://www.goodreads.com/book/show/15839976-red-rising 
as my inspiration for this theme. */

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(180deg, var(--red), var(--black));
  color: var(--white);
}

/* Colour palette is inspired by the caste system of The Society within Red Rising
more info here - https://red-rising.fandom.com/wiki/Color */
:root {
  --red: #8D0000;
  --gold: #D4AF37;
  --black: #0A0A0A;
  --iron: #2F2F2F;
  --white: #F5F5F5;
}

/* Remove all animations and transitions for people that prefer not to see them - reused code from https://stylestage.dev/ */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Mobile first layout */
.container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

/* Spacing between major sections */
nav,
header,
section,
article,
aside,
footer{
  margin-bottom: 2rem;
}

/* Navigation links */
nav ul {
  list-style: none;
}

nav li + li {
  margin-top: 0.75;
}

nav a {
  color: var(--gold);
  text-decoration: none;
  font-weight: bold;
}

/* For desktop */
@media (min-width: 768px) {

}