@charset "UTF-8";

/* STEP 1: Named Selector
------------------------------------------------------- */
h2 {
    color: red;
    font-weight: normal;
    text-decoration: underline;
}

/* STEP 2: ID Selector
------------------------------------------------------- */
#special {
    color: blue;
}

/* STEP 3: Class Selector
------------------------------------------------------- */
.project {
    background-color: lightgrey;
}

.about {
    border: 5px dashed black;
}

/* STEP 4: Contextual/Descendent Selector
------------------------------------------------------- */
section p {
    color: cyan;
}

.about p a {
    background-color: orange;
}

/* STEP 5: Grouped Selector
------------------------------------------------------- */


/* STEP 6: Pseudo-Class Selector
------------------------------------------------------- */


/* STEP 7: Structural Pseudo-Class Selector
------------------------------------------------------- */


/* STEP 8: Pseudo-Element Selector
------------------------------------------------------- */


/* STEP 9: Combinator Selector
------------------------------------------------------- */


/* STEP 10: Attribute Selector
------------------------------------------------------- */


/* STEP 11: Getting Crazy
------------------------------------------------------- */
