@charset "utf-8";

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    box-sizing: border-box;
}

#container { /* Creates outer border around the whole page */
    margin: 2rem 0 0 2rem;
    border-top: 1px solid black;
    padding: 0 2rem 2rem 0;
    max-width: 900px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main { /* Grid display */
    grid-area: main;
    display: grid;
    grid-template-columns: 1.4fr 2.65fr;
    grid-gap: 2rem;
    grid-template-areas: 
        "aside1 article1"
        "aside2 article2";
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

header {
    display: flex;
    flex-direction: column-reverse;
    border-left: 1px solid black;
}

header p { /* Header - SOUTH CENTRAL ONTARIO */
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 0;
    line-height: 1;
    font-weight: 500;
    position: relative;
    top: -1.2rem;
}

header h1 { /* Header - homebase */
    font-size: 5.2rem;
    font-weight: 1000;
    text-transform: lowercase;
    margin: 0;
    line-height: 0.25;
    padding-bottom: 1rem;
    position: relative;
    left: -0.3rem;
    bottom: 0.1rem;
    color: black;
}

header h1 em { /* home */
    font-style: normal;
    color: #d42727;
    filter: saturate(90%);
}

main > article { /* Main article */
    grid-area: article1;
    position: relative;
    margin-top: -1.5rem;
    max-width: 450px;
}

article:first-of-type {
    position: relative;
}

article:first-of-type h2 {
    margin-top: 75px;
}

img[src="dog-and-owner.jpg"] { /* Selects top image */
    position: absolute;
    top: -30px;
    right: 0;
    width: 220px;
    height: 110px;
    object-fit: cover;
    filter: saturate(70%);
}

article > h2 { /* A Dog Day Afternoon - top h2 */
    color: #bb3434;
    margin: 0;
    font-size: 2rem;
}

article + article > h2 { /* On the slopes - second h2 */
    color: #2c2b2b;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    font-size: 3.5rem;
    letter-spacing: 1px;
    margin-top: -25px;
    text-transform: lowercase;
}

img[src="snow-tubing.jpg"] { /* Snow tubing image */
    width: 100%;
    filter: saturate(70%);
}

article + article > h2::first-letter {
    text-transform: uppercase;
}

article > p { /* article paragraphs */
    font-size: 0.84rem;
    margin-top: -0.6rem;
}

article mark { /* highlighted portion in second article's paragraph */
    background-color: #dddddd;
}

main > article + article {
    grid-area: article2;
    margin-top: -100px;
    margin-bottom: 30px;
}

main > aside { /* Aside container */
    max-width: 260px;
    font-size: 1.25rem;
    padding-left: 2rem;
    align-items: start;
    grid-area: aside1;
    padding-top: 40px;
    margin-bottom: 1rem;
}

main > aside > p { /* Paragraphs in aside */
    padding-right: 1rem;
    border-right: 1px solid #9b9b9b;
    margin-bottom: 0;
}

main > aside p + p {
    margin-top: 0;
}

a[href*="sceniccaves"] { /* makes original link disappear */
    letter-spacing: 0.3px;
    font-size: 0;
}

a[href*="sceniccaves"]::before { /* creates a top line */
    content: "www.scenic";
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

a[href*="sceniccaves"]::after { /* creates bottom line */
    content: "\A caves.com";
    font-size: 1.1rem;
}

main > aside + aside { /* Second aside container */
    max-width: 260px;
    border-style: none;
    background: linear-gradient(to bottom, #dfdddd 50%, #f3f2f2 ) ;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-area: aside2;
    padding-top: 0;
}

aside h2::before { /* + sign before aside header pseudo-element */
    content: "+";
    color: #3a3a3a;
    font-family:'Times New Roman', Times, serif;
    font-size: 4rem;
    line-height: 0.7;
    margin-left: -0.8rem;
    display: inline-block;
    vertical-align: text-bottom;
}

aside h2 { /* A-Carolling We Go! aside header */
    color: #c02e2e;
    font-size: 1.25rem;
    margin: 0;
    filter: saturate(80%);
    letter-spacing: 0.9px;
}

aside + aside p { /* lower aside paragraphs */
    font-size: 0.83rem;
    margin: 0;
    border: none;
}

h3 { /* lower aside theatre headers */
    font-size: 0.84rem;
    color: black;
    margin: 0;
}

ul { /* list changes */
    margin: 0.3rem 0;
    padding-left: 0.5rem;
}

li {
    padding-left: 0.2rem;
    margin-bottom: 0.2rem;
}

li::marker { /* list marker pseudo-element */
    content: "+"; 
    font-weight: 300;
    font-size: 1rem;
}

footer { /* Footer */
    background: #fff;
}

footer p {
    text-transform: lowercase;
}

footer em { /* page number 18 */
    font-weight: 800;
    font-size: 1rem;
    padding-right: 1rem;
}

footer abbr {
    margin-right: -0.5ch;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.6rem;
}

a:link { /* link pseudo-classes */
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #4463ee;
    text-decoration: underline;
}

@media screen and (max-width: 480px) { /* media query to target small screens (phones) with max width of 480px - lesson 13 last semester reference */
	/* small screen styles */

    #container {
        margin: 2rem auto;
        padding: 0 1rem;
        max-width: 100%;
    }
    
    body, html {
    overflow-x: hidden;
    }

    body {
        width: 100%;
    }

    header h1 {
        font-size: 4.5rem;
        margin-top: -0.2rem;
    }

    main { /* collapses everything to one column */
        display: block;
        border-left: none;
        border-bottom: none;
    }

    main > article,
    main > article + article { /* makes articles full width */
        max-width: 100%;
        margin: 0;
        position: static;
    }

    img[src="dog-and-owner.jpg"] { /* removes absolute positioning on dog photo, pushes image down */
        position: static;
        height: auto;
        margin-top: 1rem;
        width: 100%;
        margin-bottom: -5rem;
    }

    main > aside,
    main > aside + aside { /* makes aside full width */
        max-width: 100%;
        padding: 0;
        border: none;
    }

    a[href*="sceniccaves"] { /* makes original link disappear */
        letter-spacing: 0.3px;
        font-size: 1rem;
    }

    a[href*="sceniccaves"]::before { /* creates a top line */
        content: "";
        font-size: 1.1rem;
        margin-right: 0.5rem;
    }

    a[href*="sceniccaves"]::after { /* creates bottom line */
        content: "";
        font-size: 1.1rem;
    }

    aside h2 {
        margin-left: 1rem;
    }

    main > aside + aside > p, li {
        margin-left: .5rem;
    }
}