@charset "utf-8";

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    box-sizing: border-box;
}

#container { /* Creates outer border around the whole page */
    margin: 2rem 0 0 2rem;
    border-top: 1px solid black;
    padding: 0 2rem 2rem 0;
    max-width: 900px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main { /* Grid display */
    grid-area: main;
    display: grid;
    grid-template-columns: 1.4fr 2.65fr;
    grid-gap: 2rem;
    grid-template-areas: 
        "asides article"
        "aside articles";
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

header {
    display: flex;
    flex-direction: column-reverse;
    border-left: 1px solid black;
}

header p { /* Header - SOUTH CENTRAL ONTARIO */
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 0;
    line-height: 1;
    font-weight: 500;
    position: relative;
    top: -1.2rem;
}

header h1 { /* Header - homebase */
    font-size: 4.8rem;
    font-weight: 1000;
    text-transform: lowercase;
    margin: 0;
    line-height: 0.2;
    padding-bottom: 1rem;
    position: relative;
    left: -0.28rem;
    bottom: 0.1rem;
    color: black;
}

header h1 em { /* home */
    font-style: normal;
    color: #d42727;
    filter: saturate(80%);
}

main > article { 
    grid-area: article;
}

article > h2 { /* A Dog Day Afternoon - top h2 */
    color: #c73131;
    margin: 0;
    font-size: 2rem;
}

article + article > h2 { /* On the slopes - second h2 */
    color: #2c2b2b;
    font-weight: lighter;
    font-size: 3rem;
    margin-bottom: 0;
    text-transform: lowercase;
}

article + article > h2::first-letter {
    text-transform: uppercase;
}

article > p { /* article paragraphs */
    font-size: 0.8rem;
}

article mark { /* highlighted portion in second article's paragraph */
    background-color: #dddddd;
}

main > article + article {
    grid-area: articles;
}

main > aside { /* Aside container */
    max-width: 240px;
    font-size: 1.25rem;
    padding-left: 2rem;
    align-items: start;
    grid-area: asides;
}

main > aside > p {
    padding-right: 1rem;
    border-right: 1px solid #9b9b9b;
    margin-bottom: 0;
}

main > aside p + p {
    margin-top: 0;
}

a[href*="sceniccaves"] {
    letter-spacing: 0.3px;
    font-size: 0;
}

a[href*="sceniccaves"]::before {
    content: "www.scenic";
    font-size: 1.1rem;
}

a[href*="sceniccaves"]::after {
    content: "\A caves.com";
    font-size: 1.1rem;
}

main > aside + aside { /* Second aside container */
    max-width: 240px;
    border-style: none;
    background: linear-gradient(to bottom, #dfdddd 50%, #f3f2f2 ) ;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-area: aside;
}

aside h2::before { /* + sign before aside header pseudo-element */
    content: "+";
    color: #3b3b3b;
    font-family:'Times New Roman', Times, serif;
    font-size: 3.6rem;
    line-height: 0.6;
    margin-left: -0.8rem;
    display: inline-block;
    vertical-align: text-bottom;
}

aside h2 { /* A-Carolling We Go! */
    color: #c02e2e;
    font-size: 1.15rem;
    margin: 0;
    filter: saturate(80%);
    letter-spacing: 0.9px;
}

aside + aside p { /* lower aside paragraphs */
    font-size: 0.8rem;
    margin: 0;
    border: none;
}

h3 { /* lower aside theatre headers */
    font-size: 0.8rem;
    color: black;
    margin: 0;
}

ul { /* list changes */
    margin: 0.3rem 0;
    padding-left: 0.5rem;
}

li {
    padding-left: 0.2rem;
    margin-bottom: 0.2rem;
}

li::marker { /* list marker pseudo-element */
    content: "+"; 
    font-weight: 300;
    font-size: 1rem;
}

footer { /* Footer */
    background: #fff;
}

footer p {
    text-transform: lowercase;
}

footer em {
    font-weight: bold;
    font-size: 1rem;
}

a:link { /* link pseudo-classes */
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #4463ee;
    text-decoration: underline;
}