@charset "utf-8";

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    box-sizing: border-box;
}

#container { /* Creates outer border around the whole page */
    margin: 2rem 0 2rem 2rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 0 2rem 2rem 0;
    max-width: 900px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main { /* Grid display */
    grid-area: main;
    display: grid;
    grid-template-columns: 1.4fr 2.65fr;
    grid-gap: 2rem;
    grid-template-areas: 
        "aside article"
        "aside articles";
    padding-left: 2rem;
}

header {
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
}

header p { /* Header - SOUTH CENTRAL ONTARIO */
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 0;
    line-height: 1;
    font-weight: 500;
    position: relative;
    top: -1.2rem;
}

header h1 { /* Header - homebase */
    font-size: 4rem;
    font-weight: 1000;
    text-transform: lowercase;
    margin: 0;
    line-height: 0.2;
    padding-bottom: 1rem;
    position: relative;
    left: -0.23rem;
    bottom: 0.18rem;
}

header h1 em { /* home */
    font-style: normal;
    color: #d42727;
}

main > article { 
    grid-area: article;
}

article > h2 { /* A Dog Day Afternoon - top h2 */
    color: #981d1d;
}

article + article > h2 { /* On the slopes - second h2 */
    color: black;
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: 0;
    text-transform: lowercase;
}

article + article > h2::first-letter {
    text-transform: uppercase;
}

article > p { /* article paragraphs */
    font-size: 0.8rem;
}

article mark {
    background-color: #bcbbbb;
}

main > article + article {
    grid-area: articles;
}

main > aside { /* Aside container */
    max-width: 220px;
    border-right: 1px solid #9b9b9b;
    padding-right: 1rem;
    font-size: 1.1rem;
}

main > aside + aside { /* Second aside container */
    max-width: 218px;
    border-style: none;
    background-color: #d8d8d8;
    padding-left: 0.5rem;
}

aside h2 { /* A-Carolling We Go! */
    color: #981d1d;
    font-size: 1.15rem;
    margin-bottom: 0;
}

aside + aside p {
    font-size: 0.8rem;
    margin: 0;
}

h3 {
    font-size: 0.75rem;
    margin: 0;
}

footer { /* Footer */
    position: relative;
    top: 4.5rem;
    margin-bottom: 1rem;
}

a:link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #4463ee;
    text-decoration: underline;
}